* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  min-width: 500px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1024px 1fr;
      grid-template-columns: 1fr 1024px 1fr;
  -ms-grid-rows: 20px 1fr 20px;
      grid-template-rows: 20px 1fr 20px;
      grid-template-areas: ". . ." ". views ." ". . .";
  z-index: 1;
  background-image: url("../images/background.jpg");
  background-size: 100% 100%;
}

.page__view {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: views;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  border: solid 5px black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 150px 400px 150px 1fr;
      grid-template-columns: 1fr 150px 400px 150px 1fr;
  -ms-grid-rows: 1fr 300px 100px 100px 100px 1fr;
      grid-template-rows: 1fr 300px 100px 100px 100px 1fr;
}

.page__view--show {
  visibility: visible;
  z-index: 2;
}

@media (max-width: 1024px) {
  .page {
    -ms-grid-columns: 10px 1fr 10px;
        grid-template-columns: 10px 1fr 10px;
  }
}

@media (max-width: 740px) {
  .page {
    min-height: 630px;
    min-width: 200px;
  }
  .page__view {
    -ms-grid-columns: 10px 7fr 16fr 7fr 10px;
        grid-template-columns: 10px 7fr 16fr 7fr 10px;
    -ms-grid-rows: 1fr 200px 100px 125px 100px 1fr;
        grid-template-rows: 1fr 200px 100px 125px 100px 1fr;
  }
}

@media (max-width: 380px) {
  .page {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: " views ";
  }
}

.memory-logo {
  width: 100%;
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: logo;
}

.btn {
  width: 250px;
  height: 80px;
  background-color: rgba(137, 148, 132, 0.79);
  border-radius: 30px;
  border: 2px solid black;
  text-transform: uppercase;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #7c8b76;
}

.btn--small {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border: 3px solid black;
  outline: none;
  background-color: #ffffff;
  text-transform: capitalize;
}

.btn--small:hover {
  cursor: pointer;
  background-color: #9e9b9b;
}

@media (max-width: 500px) {
  .btn {
    width: 180px;
    height: 60px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
  }
  .btn--small {
    width: 75px;
    height: 30px;
    border-radius: 7.5px;
    font-weight: normal;
    font-size: 20px;
  }
}

.menu {
      grid-template-areas: ". . . . ." '. logo logo logo .' '. . option . .' '. . option . .' '. . option . .' ". . . . .";
}

.menu__btns-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: option;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.settings {
      grid-template-areas: ". . . . ." '. logo logo logo .' '. . level . .' '. . music . .' '. . btn . .' ". . . . .";
}

.settings__difficulty-level {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: level;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
}

.settings__level-title {
  margin: 0 10px;
  font-size: 40px;
  font-weight: bold;
  line-height: 95px;
}

.settings__music {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: music;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settings__music-text {
  margin-right: 10px;
}

.settings__music-btn {
  position: relative;
  top: 10px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 3px solid black;
}

.settings__music-btn:hover {
  cursor: pointer;
}

.settings__play {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  display: none;
}

.settings__play-is-playing {
  display: block;
}

.settings__btn {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: btn;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc( -50% - 4px));
          transform: translate(-50%, calc( -50% - 4px));
}

@media (max-width: 740px) {
  .settings {
        grid-template-areas: ". . . . ." '. logo logo logo .' '. level level level .' '. . music . .' '. . btn . .' ". . . . .";
  }
  .settings__level-title {
    font-size: 25px;
    line-height: 95px;
  }
  .settings__music-btn {
    width: 20px;
    height: 20px;
    top: 5px;
  }
  .settings__music {
    font-size: 25px;
  }
  .settings__play {
    font-size: 15px;
  }
}

.level {
  margin: 0 10px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.level__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 25px;
  font-weight: bold;
}

.level__circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 3px solid black;
  margin: 3px;
}

.level__circle:hover {
  cursor: pointer;
}

.level__circle--selected {
  background-color: #000000;
}

@media (max-width: 740px) {
  .level__title {
    font-size: 17px;
  }
  .level__circle {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 450px) {
  .level {
    margin: 0 4px;
  }
}

.help {
      grid-template-areas: ". . . . ." '. logo logo logo .' '. content content content .' '. content content content .' '. . btn . .' ". . . . .";
}

.help__article {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: content;
  font-size: 20px;
  text-align: justify;
  line-height: 150%;
  margin: auto;
}

.help__btn {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: btn;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc( -50% - 4px));
          transform: translate(-50%, calc( -50% - 4px));
}

@media (max-width: 740px) {
  .help__article {
    font-size: 16px;
  }
}

.game {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6e8c7f;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr 600px 60px;
      grid-template-columns: 60px 1fr 600px 60px;
  -ms-grid-rows: 1fr 520px 1fr;
      grid-template-rows: 1fr 520px 1fr;
      grid-template-areas: '. . . .' '.display gameScreen .' '. . . .';
}

.game__screen {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: gameScreen;
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
}

.game__card-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game__alert {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.game__alert--hidden {
  z-index: -1;
}

@media (max-width: 970px) {
  .game {
    -ms-grid-columns: 60px 250px 1fr 60px;
        grid-template-columns: 60px 250px 1fr 60px;
  }
}

@media (max-width: 760px) {
  .game {
    -ms-grid-columns: 20px 1fr 20px;
        grid-template-columns: 20px 1fr 20px;
    -ms-grid-rows: 20px 1fr 220px 20px;
        grid-template-rows: 20px 1fr 220px 20px;
        grid-template-areas: '. . . ' '. gameScreen .' '. display . ' '. . . ';
  }
}

@media (max-width: 640px) {
  .game {
    -ms-grid-rows: 20px 1fr 150px 20px;
        grid-template-rows: 20px 1fr 150px 20px;
  }
}

.start {
  width: 300px;
  height: 150px;
  background-color: #6e8c7f;
  border-radius: 20px;
  border: 2px solid black;
}

.start__title {
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 30px;
  left: 0;
  color: black;
}

.start__btn {
  position: absolute;
  bottom: 30px;
  left: calc( 50% - 50px);
}

@media (max-width: 500px) {
  .start {
    width: 200px;
    height: 120px;
    border-radius: 14px;
  }
  .start__btn {
    bottom: 20px;
    left: calc( 50% - 37.5px);
  }
}

.score {
  width: 350px;
  height: 230px;
  background-color: #6e8c7f;
  border-radius: 20px;
  border: 2px solid black;
}

.score__title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.score__text {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

.score__btns-conatiner {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 110px);
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .score {
    width: 300px;
    height: 180px;
  }
  .score__title {
    font-size: 30px;
  }
  .score__text {
    font-size: 22px;
  }
  .score__btns-conatiner {
    bottom: 15px;
  }
}

@media (max-width: 500px) {
  .score {
    width: 280px;
    height: 150px;
  }
  .score__btns-conatiner {
    bottom: 15px;
  }
}

.card {
  width: 80px;
  height: 90px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 20px;
}

.card:hover {
  cursor: pointer;
}

.card__face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__face--front {
  background-color: #4d524e;
  color: white;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: 2px solid black;
  border-radius: 20px;
  will-change: transform;
}

.card__logo {
  display: block;
  font-size: 36px;
  line-height: 36px;
  -webkit-transform-origin: 45% 70%;
          transform-origin: 45% 70%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.card__face--back {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 1px;
  position: relative;
  padding: 1px;
  will-change: transform;
}

.card__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  border-radius: 20px;
}

.card--opened {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media (max-width: 969px) {
  .card {
    margin: 5px;
    width: 70px;
    height: 80px;
  }
  .card__logo {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 600px) {
  .card {
    width: 60px;
    height: 67.5px;
  }
  .card__logo {
    font-size: 26px;
    line-height: 26px;
  }
}

@media (max-width: 380px) {
  .card {
    width: 45px;
    height: 50px;
  }
  .card__logo {
    font-size: 18px;
    line-height: 18px;
  }
  .card__face--front {
    border-radius: 10px;
  }
  .card__img {
    border-radius: 10px;
  }
}

.result {
  grid-area: display;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.result__element {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  width: 200px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  border: 3px solid black;
  margin-top: 10px;
}

.result_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
<<<<<<< HEAD

@media (max-width: 640px) {
  .result__element {
    -ms-flex-preferred-size: 30px;
        flex-basis: 30px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 500px) {
  .result__element {
    -ms-flex-preferred-size: 25px;
        flex-basis: 25px;
    width: 150px;
    line-height: 25px;
  }
}
/*# sourceMappingURL=style.css.map */
=======
/*# sourceMappingURL=style.css.map */
>>>>>>> 1371cc393daab6d804a9ddfb8b8084d618e87b0e
