.game
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    background-color: #6e8c7f
    display: grid
    grid-template-columns: 60px 1fr 600px 60px
    grid-template-rows: 1fr 520px 1fr
    grid-template-areas: '. . . .' '.display gameScreen .' '. . . .'

.game__screen
    grid-area: gameScreen
    background-color: white
    position: relative
    top: 0
    left: 0

.game__card-container
    width: 100%
    height: 100%
    display: flex
    flex-wrap: wrap
    align-content: center
    justify-items: center
    justify-content: center

.game__alert
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.game__alert--hidden
    z-index: -1

@media ( max-width: 970px )
    .game
        grid-template-columns: 60px 250px 1fr 60px

@media ( max-width: 760px )
    .game
        grid-template-columns: 20px 1fr 20px
        grid-template-rows: 20px 1fr 220px 20px
        grid-template-areas: '. . . ' '. gameScreen .' '. display . ' '. . . '

@media ( max-width: 640px )
    .game
        grid-template-rows: 20px 1fr 150px 20px
