.game
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1
    background-color: #e6d7d7
    display: grid
    grid-template-columns: 1fr 100px 400px 100px 1fr
    grid-template-rows: 1fr 520px 1fr
    grid-template-areas: '. . . . .' '. gameScreen gameScreen gameScreen .' '. . . . .'

.card-content
    grid-area: gameScreen
    background-color: white
    position: relative
    top: 0
    left: 0

.start
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 300px
    height: 150px
    background-color: #ac2929
    border-radius: 20px
    border: 2px solid black
    z-index: 2

    p
        font-size: 30px
        text-align: center
        position: relative
        top: 30px
        left: 0
        color: black

    button
        position: absolute
        bottom: 30px
        left: calc( 50% - 50px )
        width: 100px
        height: 40px
        font-size: 20px
        border-radius: 10px
        border: 1px solid black
        outline: none
        background-color: #ffffff
        text-transform: capitalize
        &:hover
            cursor: pointer
            background-color: #d89898

.card-container
    width: 100%
    height: 100%
    display: flex
    flex-wrap: wrap
    align-content: flex-start
    z-index: -1

.card
    width: 80px
    height: 90px
    transition: 1s
    transform-style: preserve-3d
    perspective: 1000px
    margin: 20px

    .face
        width: 100%
        height: 100%
        position: absolute
        backface-visibility: hidden
        border: 2px solid black
        border-radius: 20px

    .front
        background-color: #643434
        color: white
        z-index: 2
        display: flex
        align-items: center
        justify-items: center
        span
            display: block
            font-size: 36px
            line-height: 36px
            transform-origin: 45% 70%
            transform: rotate(-45deg)

    .back
        transform: rotateY(180deg)
        background-image: "./images/Table.jpg"
        img
            height: 100%
            width: 100%
            border-radius: 20px

    &:hover
        cursor: pointer

.openCard
    transform: rotateY(180deg)

.score
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 300px
    height: 150px
    background-color: #ac2929
    border-radius: 20px
    border: 2px solid black
    z-index: 2

    p
        font-size: 30px
        text-align: center
        position: relative
        top: 30px
        left: 0
        color: black

    .btn-container
        position: absolute
        bottom: 30px
        left: calc(50% - 110px)
        width: 220px
        display: flex
        justify-content: space-between

    button
        width: 100px
        height: 40px
        font-size: 20px
        border-radius: 10px
        border: 1px solid black
        outline: none
        background-color: #ffffff
        text-transform: capitalize
        &:hover
            cursor: pointer
            background-color: #d89898

.hidden
    z-index: -1
