.result
    grid-area: display
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

.result__element
    flex-basis: 40px
    width: 200px
    font-size: 25px
    line-height: 40px
    text-align: center
    text-transform: uppercase
    background-color: white
    border: 3px solid black
    margin-top: 10px

.result_btns
    display: flex
    justify-content: flex-start

@media ( max-width:  640px)
    .result__element
        flex-basis: 30px
        font-size: 20px
        line-height: 30px

@media ( max-width:  500px)
    .result__element
        flex-basis: 25px
        width: 150px
        line-height: 25px
