.score
    width: 350px
    height: 230px
    background-color: #6e8c7f
    border-radius: 20px
    border: 2px solid black

.score__title
    font-size: 40px
    font-weight: bold
    text-align: center
    margin-top: 10px

.score__text
    font-size: 30px
    text-align: center
    font-weight: normal
    color: black

.score__btns-conatiner
    position: absolute
    bottom: 30px
    left: calc(50% - 110px)
    width: 220px
    display: flex
    justify-content: space-between
